name: Go

on:
  pull_request:
  push:

jobs:
  nonposix:
    runs-on: ubuntu-latest
    steps:
    - name: shallow clone
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.20'

    - name: Replace dependency
      run: |
          go work init .
          go work edit -replace github.com/spf13/pflag=github.com/rsteube/carapace-pflag@v0.2.0

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v -coverprofile=profile.cov ./...

  build:
    runs-on: ubuntu-latest
    steps:
    - name: shallow clone
      uses: actions/checkout@v4
      if: "!startsWith(github.ref, 'refs/tags/')"

    - name: deep clone
      uses: actions/checkout@v4
      if: startsWith(github.ref, 'refs/tags/')
      with:
        fetch-depth: 0

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.20'

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v -coverprofile=profile.cov ./...

    - name: "Check formatting"
      run: '[ "$(gofmt -d -s . | tee -a /dev/stderr)" = "" ]'

    - uses: shogo82148/actions-goveralls@v1
      with:
        path-to-profile: profile.cov

    - name: "staticcheck"
      run: go install honnef.co/go/tools/cmd/staticcheck@latest && staticcheck ./...

    - name: Replace dependency
      run: |
          go work init .
          go work edit -replace github.com/spf13/pflag=github.com/rsteube/carapace-pflag@v0.0.4

    - name: Run GoReleaser
      uses: goreleaser/goreleaser-action@v5
      if: startsWith(github.ref, 'refs/tags/')
      with:
        version: latest
        args: release --rm-dist
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        AUR_KEY: ${{ secrets.AUR_KEY }}
        GORELEASER_GITHUB_TOKEN: ${{ secrets.GORELEASER_GITHUB_TOKEN }}

  doc:
    runs-on: ubuntu-latest
    container: ghcr.io/rsteube/carapace
    steps:
      - uses: actions/checkout@v4
      - name: "build docs"
        run: mdbook build docs

      - name: "push gh-pages"
        if: github.ref == 'refs/heads/master'
        run: |
            cd docs/book/
            git init
            git config user.name rsteube
            git config user.email rsteube@users.noreply.github.com
            git add .
            git commit -m "initial commit [ci skip]"
            git push --force https://rsteube:${GITHUB_TOKEN}@github.com/rsteube/carapace-spec.git master:gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
